.contenedor-partes {

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 8px;


}

.contenedor-partes>div {
    justify-content: center;
    margin: 10px;
    padding: 20px;
    text-align: center;

}

.tachado {
    text-decoration: line-through;
}

.verde {
    color: darkgreen;
}


.example-card {

    text-align: center;
    justify-content: center;
    max-width: 500px;
    margin-bottom: 8px;

    padding: 15px;
}