<h1>Lista de la Compra</h1>

<mat-card class="example-card">
  <mat-card-content class="contenedor-partes">
    <mat-card-title>Productos para añadir</mat-card-title>
    <div>
      <input type="text" [(ngModel)]="nombre">
    </div>
    <mat-card-title>Cantidad</mat-card-title>
    <div>
      <input type="number" [(ngModel)]="cantidad">
    </div>
    <div class="boton">
      <button mat-stroked-button (click)="addProducto()">Añadir</button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-content class="contenedor-partes">
    <mat-card-title>Productos para comprar</mat-card-title>
    <mat-list *ngFor="let articulo of productos; let i = index">
      <mat-checkbox class="example-margin" [(ngModel)]="articulo.seleccionado" (change)="guardar()">
        <label [ngClass]="{'verde':articulo.cantidad>=3}" [class.tachado]="articulo.seleccionado" for="articulo{}">
          {{articulo.nombre}}</label>
        <label> {{articulo.cantidad}}</label>
        <mat-icon (click)="eliminar(i)">cancel</mat-icon>
      </mat-checkbox>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>
</mat-card>