.contenedor {
    width: 50%;
    border: 1px solid black;
    margin: 40px;
    padding: 15px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.contenedor-partes {
    border: 1px solid black;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;

}

.contenedor-partes>div {
    justify-content: center;
    margin: 10px;
    padding: 20px;
    text-align: center;

}

.tachado {
    text-decoration: line-through;
}

.verde {
    color: darkgreen;
}