<h1>Lista de la Compra</h1>
<div class="contenedor">
  <div class="contenedor-partes">
    <h2>Productos para añadir</h2>
    <div>
      <input type="text" [(ngModel)]="nuevoProducto.nombre">
    </div>
    <div class="boton">
      <button type="button" (click)="addProducto()">Añadir</button>
    </div>
  </div>

  <div class="contenedor-partes">
    <div>
      <h2>Productos para comprar</h2>
      <div *ngFor="let articulo of productos; let i = index">
        <input type="checkbox" [(ngModel)]="articulo.seleccionado">
        <label [class.tachado]="articulo.seleccionado" for="articulo{}"> {{articulo.nombre}}</label>
        <button (click)="eliminar(i)">x</button>
      </div>
    </div>
  </div>

</div>